.App {
	text-align: center;
}

.heading {
	margin: 5px 0;
}

.itemWrapper {
	width: "50%";
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	flex-direction: column;
}

.item {
	background-color: #cad6e0;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	min-width: 400px;
}

select {
	padding: 5px;
	margin-left: 10px;
}

.wrapper {
	margin: 10px 0;
}
